@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.App {
  display: block;
  text-align: center;
}

button {
  padding: 10px 20px; 
  background-color: #007bff; 
  color: #fff; 
  border: none;
  border-radius: 5px; 
  cursor: pointer;
  transition: background-color 0.3s ease; /* анимация изменения цвета фона */
}

button:hover {
  background-color: #0056b3; /* новый цвет фона при наведении */
}

input {
  width: 400px; 
  padding: 10px; 
  border: 2px solid #007bff; 
  border-radius: 5px; 
  font-size: 16px; 
  transition: border-color 0.3s ease; 
}

input:focus {
  outline: none; 
  border-color: #ff4500; 
}

input[type="text"] {
  width: 50px; 
  padding: 5px;
  margin-right: 10px; 
}

h5 {
  margin-top: 20px;
  font-style: italic;
  color: #666; 
}

.header {
  background-color: #f0d1aa; 
  color: white;
  text-align: center;
  padding: 20px;
}

.carefull {
  font-size: 48px;
  color: #5d99e8;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-family: 'Montserrat', sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
